{
    "extends": ["stylelint-config-recommended-scss", "stylelint-config-hudochenkov/full"],
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "indentation": 4,
        "string-quotes": "double",
        "no-duplicate-selectors": true,
        "color-hex-case": "lower",
        "color-hex-length": "short",
        "color-named": null,
        "color-function-notation": null,
        "selector-max-type": null,
        "selector-no-qualifying-type": null,
        "selector-combinator-space-after": "always",
        "selector-attribute-quotes": "always",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-brackets-space-inside": "never",
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always",
        "value-no-vendor-prefix": true,
        "number-leading-zero": "always",
        "function-url-quotes": "always",
        "font-family-name-quotes": "always-where-recommended",
        "comment-whitespace-inside": "always",
        "comment-empty-line-before": "always",
        "at-rule-name-case": "lower",
        "at-rule-name-space-after": "always",
        "at-rule-semicolon-space-before": "never",
        "rule-empty-line-before": ["always-multi-line", {
            "except": ["after-single-line-comment", "first-nested"]
        }],
        "selector-pseudo-class-parentheses-space-inside": "always",
        "selector-no-vendor-prefix": true,
        "media-feature-range-operator-space-before": "always",
        "media-feature-range-operator-space-after": "always",
        "media-feature-parentheses-space-inside": "always",
        "media-feature-name-no-vendor-prefix": true,
        "media-feature-colon-space-before": "never",
        "media-feature-colon-space-after": "always",
        "value-list-max-empty-lines": 0,
        "declaration-empty-line-before": "never",
        "block-no-empty": true,
        "property-no-vendor-prefix": null,
        "at-rule-no-vendor-prefix": null,
        "no-descending-specificity": null,
        "shorthand-property-no-redundant-values": true,
        "scss/no-global-function-names": null,
        "declaration-no-important": null,
        "no-missing-end-of-source-newline": null,
        "selector-max-id": null,
        "at-rule-no-unknown": null,
        "time-min-milliseconds": null,
        "selector-pseudo-class-no-unknown": null,
        "property-no-unknown": null,
        "declaration-colon-newline-after": null,
        "function-parentheses-newline-inside": null
    }
}